 /* :root { */
  /*Colors*/
  /* --c-background: #e5e5e5;
  --c-white: #ffffff;
  --c-blue: #2196e3;
  --c-light-blue: #2196f3;
  --c-black: #000000;
  --c-dark: #212121;
  --c-boulder: #757575;
  --c-gray: #afb1b8;
  --c-colordesc: #2f303a;
  --c-colorteam: #f5f4fa;
  /* Fonts */
  /* --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
} */ 

/* * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
} */ */

/*=======header======*/

/* body {
  background-color: var(--c-white);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

/* .header {
  background-color: var(--c-white);
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  align-items: center;
}

.menu_list_nav {
  display: flex;
  height: 80px;
}

.menu_list_nav li {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu_list_nav .current {
  color: var(--c-light-blue);
}

.menu_list_nav li:last-child {
  margin-right: 0;
}

.contacts {
  margin-left: auto;
}

.list_contacts {
  display: flex;
}

.list_contacts li {
  margin-right: 50px;
}

.list_contacts li:last-child {
  margin-right: 0;
}

.logo {
  margin-right: 93px;
}

.logo_1 {
  color: var(--c-blue);
  font-size: 26px;
  font-weight: 400;
  font-family: var(--font-raleway);
  line-height: 1.17;
}

.logo_2 {
  color: var(--c-black);
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-raleway);
  line-height: 1.38;
}

.links_nav {
  color: var(--c-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.links_nav:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--c-light-blue);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  opacity: 0;
}

.links_nav.current:after {
  opacity: 1;
}

.links_nav:hover,
.links_nav:focus {
  color: var(--c-light-blue);
}





.links_contact {
  color: var(--c-boulder);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.links_contact svg {
  margin-right: 10px;
  color: inherit;
}

.links_contact:hover,
.links_contact:focus {
  color: var(--c-light-blue);
} */

/*======= end header======*/

/*========components========*/

/* a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
} */

/*========end components========*/

/*==========Button==========*/
/* 
.hero {
  position: relative;
  background-color: var(--c-colordesc);
  background-image: url(../images/img_Overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(47, 48, 58, 0.4);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero__content {
  color: var(--c-white);
  padding: 106px 0;
}

.hero__title {
  font-size: 44px;
  line-height: 60px;
  font-weight: 900;
  max-width: 690px;
  text-align: center;
  margin: 0 auto 40px;
}

.hero__button {
  color: var(--c-white);
  display: block;
  padding: 10px 32px;
  background-color: var(--c-light-blue);
  border-radius: 4px;
  margin: 0 auto;
  min-width: 200px;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: var(--c-white);
  color: var(--c-light-blue);
}

.description_btn:hover {
  background-color: #188ce8;
} */

/*==========end Button==========*/

/*==========About us==========*/
/* 
.about {
  padding-bottom: 0;
}

.icon__about {
  max-width: 270px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.svg__img {
  display: flex;
  max-width: 270px;
  justify-content: center;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about_title {
  color: var(--c-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about_text {
  color: var(--c-boulder);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-weight: 400;
  max-width: 270px;
} */

/*==========end About us==========*/

/*==========WORK==========*/

/* .list_title {
  display: flex;
  margin-left: -30px;
}

.list_title li {
  margin-left: 30px;
  flex-basis: calc((100% / 3) - 30px);
  position: relative;
}

.working_list_title {
  text-align: center;
}

.working_list_title {
  color: var(--c-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--c-white);
  bottom: 0px;
}

/*==========end WORK==========*/

/*==========Team==========*/

/* .our_team_title_list {
  display: flex;
  margin-left: -30px;
}

.our_team_title_list li {
  background-color: var(--c-white);
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our_team {
  background-color: var(--c-colorteam);
  text-align: center;
}

.our_team_title {
  color: var(--c-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.icon__social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin-bottom: 30px;
}

.icon__social_links li {
  margin-right: 10px;
  margin-left: 0;
}

.icon__social_links li:last-child {
  margin-right: 0;
}

.icon__social_links a {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--c-gray);
  width: 44px;
  height: 44px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__social_links a svg {
  width: 20px;
  height: 20px;
  color: inherit;
}

.icon__social_links a:hover {
  background-color: var(--c-light-blue);
  color: var(--c-white);
}

.name_employee {
  color: var(--c-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 30px 0 10px;
  text-align: center;
}

.position_employee {
  color: var(--c-boulder);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}  */

/*==========end TEAM==========*/

/*=======FOOTER=======*/

/* .logo_2_footer {
  color: var(--c-white);
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-raleway);
  line-height: 1.38;
}

.list_footer li {
  padding-bottom: 9px;
}

.list_footer li:last-child {
  padding-bottom: 0;
}

.address {
  color: var(--c-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer_logo {
  background-color: var(--c-colordesc);
  padding: 60px; */
/* }

.footer_link {
  display: flex;
} */
/* 
.links__title {
  color: var(--c-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.social_link_footer {
  margin-left: 70px;
  padding-top: 12px;
}

.list__link__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__link__footer li {
  margin-right: 10px;
}

.list__link__footer li:last-child {
  margin-right: 0;
}

.list__link__footer a {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--c-white);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link__footer a:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--c-light-blue);
  color: var(--c-white);
}

.e-mail_input {
  margin-left: 93px;
  padding-top: 12px;
}
.form_input {
  display: flex;
}

.title__input {
  color: var(--c-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.input__mailing__list {
  color: var(--c-white);
  width: 358px;
  padding: 15px;
  background-color: #2f303a;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input__mailing__list::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.btn__subscribe {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-left: 12px;
  padding: 13px;
  color: var(--c-white);
  background-color: var(--c-light-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn__subscribe svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*=======end FOOTER=======*/

/*======Portofolio======*/
/* 
.filter_section {
  background-color: var(--c-white);
  padding-bottom: 94px;
}

.list__button {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.list__button li {
  margin-right: 8px;
}

.button_style {
  color: var(--c-dark);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button_style:hover,
.button_style:focus {
  color: var(--c-white);
  background-color: var(--c-light-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.poroject_list_title {
  color: var(--c-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.poroject_list_text {
  color: var(--c-boulder);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.poroject_list {
  background-color: var(--c-white);
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: 370px;
}

.project-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: #fff;
}

.poroject_list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poroject_list:hover .desc {
  transform: translateY(0);
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.text__project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  color: #0000ff;
}  */

/*======Portofolio======*/

/* =======partners====== */
/* 
.partners__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: -30px;
}

.partners__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c-gray);
  border-radius: 4px;
  flex-basis: 170px;
  height: 90px;
  margin-right: 30px;
  color: var(--c-gray);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__list li:hover {
  border-color: var(--c-light-blue);
  color: var(--c-light-blue);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
}

.partners__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
} */


/* =======partners====== */

/* =======modal======= */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--c-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
} */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

/* .modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 10 10;
}

.modal__close-button:hover {
  color: var(--c-light-blue);
}

.modal__close-button svg {
  color: inherit;
  width: 11px;
  height: 11px;
  fill: none;
} */

.modal__form input[type="text"],
.modal__form input[type="email"],
.modal__form input[type="tel"] {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline-color: inherit;
}

.user__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline-color: inherit;
}

.name_input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--c-boulder);
  margin-bottom: 4px;
}

.modal__comment {
  margin-bottom: 20px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment:focus-within {
  outline-color: var(--c-light-blue);
}
.modal__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--c-boulder);
}

.modal_input {
  position: relative;
  color: var(--c-boulder);
  margin-bottom: 10px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input svg {
  position: absolute;
  top: 32px;
  left: 15px;
  color: inherit;
}

.modal_input:focus-within {
  outline-color: var(--c-light-blue);
  color: var(--c-light-blue);
}

.modal_checkbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.modal_checkbox input {
  width: 0;
  height: 0;
  opacity: 0;
}

.modal_checkbox span {
  font-size: 14px;
  line-height: 24px;
}

.modal_checkbox span a {
  color: var(--c-light-blue);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.fake_checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid var(--c-light-blue);
  flex-shrink: 0;
  margin-right: 7px;
  border-radius: 2px;
}

.modal_checkbox input:checked + .fake_checkbox {
  background: var(--c-light-blue);
}

.fake_checkbox svg {
  position: absolute;
  top: 3px;
  left: 2px;
}

.form__modal__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.text_modal {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--c-boulder);
}

.form__modal__btn button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--c-white);
  background-color: var(--c-light-blue);
  padding: 10px 55px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
